body{
    background-color: #323232;
    margin: 0 auto;
    max-width: 960px;
    overflow: visible;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1390px;
}
h1{
    font-family: 'Dancing Script', cursive;
    color:#14ffec;
    font-size: 200%
}
#cal{
    grid-row:1/2;
    grid-column:1/2;
}
label{
    color:#14ffec;
}
.user1{
    background-color:#794c74;
    border:5px solid #472d44;
    grid-row:2/3;
    grid-column:1/2;
}
.user2{
    background-color:#00818a;
    border:5px solid #00474d;
    grid-row:2/3;
    grid-column:2/3;   
}
.user1, .user2{
    border-radius: 10px;
    padding:5px;
    margin-top:20px;
}
.agenHeader{
    margin-top:2px;
}
h3{
    font-size:12px;
    font-style:italic;
    color:#14ffec;
    margin-bottom:0;
}
h4{
    font-size:26px;
    text-decoration: underline;
    font-style:italic;
    color: #F2AB34;  
    text-align: center; 
}
.agenTime{
    margin-bottom:2px;
}
.agendDiv{
    border-bottom:1px solid #14ffec;
}
.agenInput{
    width:99%;
    background-color:#794c74;
    border:none;
    color:white;
    font-family: 'Indie Flower', cursive;
}
.agenInput2{
    width:99%;
    background-color:#00818a;
    border:none;
    color:white;
    font-family: 'Indie Flower', cursive;
}
.save, #submit{
    padding:7px;
    border-radius: 10px;
    margin-top:5px;
    font-family: 'Dancing Script', cursive;
    font-style:bold;
}
#userasave{
    background-color:#472d44;
    color:#14ffec;
}
#userbsave{
    background-color: #00474d;
    color:#14ffec;
}
#saveDinner, #submit{
    background-color:#14ffec;
    color:#323232;
}
#dinnerform{
    display:flex;
    align-items:center;
}
#dinneri{
    width:92%;
    background-color:#323232;
    border:none;
    border-bottom:2px solid #14ffec;
    margin-left:5px;
    margin-right:15px;
    font-family: 'Indie Flower', cursive;
    font-style:bold;
    color:#14ffec;
    font-size:30px;
}
input:focus{
    outline:none;
}
.agenInput:focus, .agenInput2:focus{
    color:white;
    font-family: 'Indie Flower', cursive;
    font-style:bold;
    font-size:16px;
}
/*grocery and dinner tab*/

#slideOut {
    position: fixed;
    width: 300px;
    height: 800px;
    top: 30px;
    right: -300px;
    background: #d6d1d1;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #dinnerSlideOut{
    position: fixed;
    width: 300px;
    height: 800px;
    top: 200px;
    right: -300px;
    background: #d6d1d1;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  
  /* Display slideOut */
  
  .showSlideOut {
    right: 0px !important;
  }
  
  
  /* Tab */
  
  .slideOutTab, .dinnerslideOutTab {
    margin-top: 50px;
    position: absolute;
    left: -40px;
    height: 200px;
    width: 40px;
    background: #F2AB34;
    border-radius: 15px 0px 0px 15px
  }
  
  .slideOutTab div, .dinnerslideOutTab div {
    text-align: center;
    position: relative;
    right: 70px;
    top: 80px;
    background: #F2AB34;
    width: 180px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
  }

  
  /* None relevant included styling */

  section:nth-child(2) {
    background: #7876A0;
  }
  
  section {
    height: 100%;
    width: 100%;
  }
  
  .modal-body {
    height: 620px;
  }
  
  section {
      display: table;
      width: 100%;
      height: 100%;
  }
   .intro {
          display: table-cell;
          vertical-align: middle;
   
        }
    #tablabel, #tablabel2{
        font-weight:bold;
        font-size:16px;
    }
    .gInput{
        width: 99%;
        background-color:#d6d1d1;
        border: none;
        border-bottom: 1px solid #F2AB34;
        font-family: 'Indie Flower', cursive;
        margin-bottom:2px;
        margin-left:3px;
    }
@media screen and (max-width: 620px)  {
      main{
          display:block;
      }
  }