body{
    background-color: #323232;
    margin: 0 auto;
    max-width: 960px;
}
h1{
    font-family: 'Dancing Script', cursive;
    color:#14ffec;
    font-size: 200%
}
label{
    color:#14ffec;
}
.user1{
    background-color:#794c74;
    border:5px solid #472d44;
}
.user2{
    background-color:#00818a;
    border:5px solid #00474d;   
}
.user1, .user2{
    border-radius: 10px;
    padding:5px;
}